<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Storefront &ndash; Catalog</title>
</head>
<body>
<h1>Cart</h1>
<div class="cart-container">
    <% for(let i = 0; i < cart.length; i++) { %>
        <div class="cart-item" id="catalogItem<%= cart[i]._id %>">
            <p class="cart-item-id">Item ID: <span><%= cart[i]._id %></span></p>
            <img class="cart-item-image" src="<%= cart[i].image %>" alt="Catalog Item Image">
            <p class="cart-item-in-cart">In Cart: <%= cart[i].in_cart %></p>
            <p class="cart-item-name"><%= cart[i].name %></p>
            <p class="cart-item-price"><%= cart[i].price %></p>
            <p class="cart-item-description"><%= cart[i].description %></p>
        </div>
    <% } %>
</div>
<a href="/">Return to Homepage</a>
<script src="/js/catalog.js"></script>
</body>
</html>
