<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Storefront &ndash; Catalog</title>
</head>
<body>
    <a href="/">
        <button class="navigation-button">Return to Homepage</button>
    </a>
    <h1>Catalog</h1>
    <div class="catalog-container">
        <% for(let i = 0; i < catalog.length; i++) { %>
            <div class="catalog-item" id="catalogItem<%= catalog[i]._id %>">
                <p class="catalog-item-id">Item ID: <span><%= catalog[i]._id %></span></p>
                <img class="catalog-item-image" src="<%= catalog[i].image %>" alt="Catalog Item Image">
                <p class="catalog-item-on-hand">On Hand: <%= catalog[i].on_hand %></p>
                <p class="catalog-item-name"><%= catalog[i].name %></p>
                <p class="catalog-item-price"><%= catalog[i].price %></p>
                <p class="catalog-item-description"><%= catalog[i].description %></p>
                <button class="catalog-item-add-to-cart item-button" id="addToCart<%= catalog[i]._id %>">Add to Cart</button>
            </div>
        <% } %>
    </div>
    <a href="/">
        <button class="navigation-button">Return to Homepage</button>
    </a>
    <script src="/js/formatters/currency_formatter.js"></script>
    <script src="/js/catalog.js"></script>
</body>
</html>
